.dosplaynone{
  display: none;
}

.dosplayblock{
  display: block;
}

.popup_layer{
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.total_price{
  display:block !important;
}

#close-button{
  position: absolute;
  right: 12px;
  top: 12px;
  border: 0;
  background-color: transparent;
  padding: 10px;
}
#close-button .x-icon{
  
  font-size: 20px;
  color: #3E45AA;
}
